<div class="container">
  <h2 class="text-center">TEMPLATE REFERANCE</h2>
  <div class="col-md-6 position-absolute top-0 start-50 translate-middle-x my-4">
    <div class="card">
      <div class="card-header">TEMPLATE REFERANCE</div>
      <div class="card-body">
        <input type="text" #template class="form-control" placeholder="template referance variable...">
        <button class="btn btn-success my-4" (click)="getTemplateVariableData(template)">clcik</button>
      </div>
    </div>
  </div>
</div>
