<div class="container my-3">
  <div class="row">
    <div class="col-md-3 my-3">
      <h2>CLICK</h2>
      <select class="btn btn-dark" (click)="getEventData($event)">
        <option class="btn btn-light" [hidden]="true">Select</option>
        <option class="btn btn-light" value="washingmachine">
          Washing Machine
        </option>
        <option class="btn btn-light" value="telivition">Telivision</option>
        <option class="btn btn-light" value="airconditioner">
          Air Conditioner
        </option>
      </select>
    </div>

    <div class="col-md-3 my-3">
      <h2>BLUR</h2>
      <select class="btn btn-dark" (blur)="getEventData($event)">
        <option class="btn btn-light" [hidden]="true">Select</option>
        <option class="btn btn-light" value="washingmachine">
          Washing Machine
        </option>
        <option class="btn btn-light" value="telivition">Telivision</option>
        <option class="btn btn-light" value="airconditioner">
          Air Conditioner
        </option>
      </select>
    </div>

    <div class="col-md-3 my-3">
      <h2>MOUSEOVER</h2>
      <select class="btn btn-dark" (mouseover)="getEventData($event)">
        <option class="btn btn-light" [hidden]="true">Select</option>
        <option class="btn btn-light" value="washingmachine">
          Washing Machine
        </option>
        <option class="btn btn-light" value="telivition">Telivision</option>
        <option class="btn btn-light" value="airconditioner">
          Air Conditioner
        </option>
      </select>
    </div>

    <div class="col-md-3 my-3">
      <h2>MOUSEDOWN</h2>
      <select class="btn btn-dark" (mousedown)="getEventData($event)">
        <option class="btn btn-light" [hidden]="true">Select</option>
        <option class="btn btn-light" value="washingmachine">
          Washing Machine
        </option>
        <option class="btn btn-light" value="telivition">Telivision</option>
        <option class="btn btn-light" value="airconditioner">
          Air Conditioner
        </option>
      </select>
    </div>

    <div class="col-md-3 my-3">
      <h2>MOUSELEAVE</h2>
      <select class="btn btn-dark" (mouseleave)="getEventData($event)">
        <option class="btn btn-light" [hidden]="true">Select</option>
        <option class="btn btn-light" value="washingmachine">
          Washing Machine
        </option>
        <option class="btn btn-light" value="telivition">Telivision</option>
        <option class="btn btn-light" value="airconditioner">
          Air Conditioner
        </option>
      </select>
    </div>

    <div class="col-md-3 my-3">
      <h2>MOUSEENTER</h2>
      <select class="btn btn-dark" (mouseenter)="getEventData($event)">
        <option class="btn btn-light" [hidden]="true">Select</option>
        <option class="btn btn-light" value="washingmachine">
          Washing Machine
        </option>
        <option class="btn btn-light" value="telivition">Telivision</option>
        <option class="btn btn-light" value="airconditioner">
          Air Conditioner
        </option>
      </select>
    </div>

    <div class="col-md-3 my-3">
      <h2>MOUSEOUT</h2>
      <select class="btn btn-dark" (mouseout)="getEventData($event)">
        <option class="btn btn-light" [hidden]="true">Select</option>
        <option class="btn btn-light" value="washingmachine">
          Washing Machine
        </option>
        <option class="btn btn-light" value="telivition">Telivision</option>
        <option class="btn btn-light" value="airconditioner">
          Air Conditioner
        </option>
      </select>
    </div>

    <div class="col-md-3 my-3">
      <h2>MOUSEMOVE</h2>
      <select class="btn btn-dark" (mousemove)="getEventData($event)">
        <option class="btn btn-light" [hidden]="true">Select</option>
        <option class="btn btn-light" value="washingmachine">
          Washing Machine
        </option>
        <option class="btn btn-light" value="telivition">Telivision</option>
        <option class="btn btn-light" value="airconditioner">
          Air Conditioner
        </option>
      </select>
    </div>

    <div class="col-md-3 my-3">
      <h2>MOUSEUP</h2>
      <select class="btn btn-dark" (mouseup)="getEventData($event)">
        <option class="btn btn-light" [hidden]="true">Select</option>
        <option class="btn btn-light" value="washingmachine">
          Washing Machine
        </option>
        <option class="btn btn-light" value="telivition">Telivision</option>
        <option class="btn btn-light" value="airconditioner">
          Air Conditioner
        </option>
      </select>
    </div>

    <div class="col-md-3 my-3">
      <h2>MOUSEWHEEL</h2>
      <select class="btn btn-dark" (mousewheel)="getEventData($event)">
        <option class="btn btn-light" [hidden]="true">Select</option>
        <option class="btn btn-light" value="washingmachine">
          Washing Machine
        </option>
        <option class="btn btn-light" value="telivition">Telivision</option>
        <option class="btn btn-light" value="airconditioner">
          Air Conditioner
        </option>
      </select>
    </div>
  </div>
</div>
